/* Colors */

/*
    lightblue: #8EC0ED;
    blue: #5CB1CF;
    darkblue: #4B88BC;

    lightgreen: #29D180
    green #28ad60
    darkgreen #26934C

    lightgray: #B4B6B4
    gray: #828884
*/

/* Padding/Margin Factor: 11px */

body {
    position: relative;
    margin: 0;
    font-family: 'Open Sans';
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

p {
    margin: 22px 0;
}

ul {
    padding-left: 33px;
}
/*a {*/
    /*color: #8EC0ED;*/
/*}*/

/*a:hover {*/
    /*color: #579FDA;*/
/*}*/

/*::selection { background: #579FDA; }*/
/*::-moz-selection { background: #579FDA; }*/


/*  Navigation  */

#nav-band {
    position: relative;
    height: 58px;
    border-bottom: 1px solid #f1f1f1;
    background: #f7f7f7;
    opacity: 0.95;
    z-index: 1;
}

#nav {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 960px;
    width: 100%;
    height: 58px;
    line-height: 55px;
    padding: 0 22px;
    font-size: 14px;
    margin: 0 auto;
    border-bottom: none;
    background: transparent;

    /*font-family: 'Open Sans';*/
}

/*#nav:after {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 3px;*/
    /*content: '';*/
    /*background: linear-gradient(to right,#fff 0,#50c0fb 33%, #c94972 66%,#000 100%);*/
/*}*/

#desktop-nav .nav-item:first-child {
    margin: 0 0 0 22px;
}

#logo {
    left: 22px;
    color: #000;
}

#logo:hover {
    opacity: 0.8;
    color: #000;
}

#desktop-nav .nav-item {
    margin: 0 22px;
    color: #000;
}

#desktop-nav .nav-item:hover {
    opacity: 0.8;
    color: #000;
}

#mobile-nav {
    top: 58px;
}

#mobile-nav .nav-item {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #f1f1f1;
    background: #f7f7f7;
    color: #000;
}

#mobile-nav .nav-item:hover {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    background: #ebebeb;
    color: #000;
    opacity: 0.9;
}

.mobile-nav-toggle {
    height: 22px;
    width: 22px;
    line-height: 0px;
    margin: 16px 22px;
}


/*  Main  */

#main {
    position: relative;
    top: -58px;
    left: 0;
    right: 0;
    padding-bottom: 66px;
    background: #EDEEEE;
}

/*  Banner  */

.banner {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: url(/imgs/banner/polygon.jpg);
}

.dividing-img {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-attachment: fixed;*/
}


/*  Post  */

#post {
    padding: 99px 22px 0 22px;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: left;
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5
#post h6 {
    margin: 33px 0 -10px 0;
}

#post h1 {
    margin-bottom: 15px
}


#post-authoring-info {
}

#post-author-img {
    width: 48px;
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
}

#post-author-words {
    float: left;
}

#post-author-name, #post-date-and-comments {
    display: block;
    margin: 0;
    padding: 0 0 0 11px;
}

#post-author-name {
    height: 26px;
    line-height: 23px;
    font-size: 22px;
}

#post-date-and-comments {
    height: 22px;
    line-height: 22px;

    color: #111;
}

#post-date {
    font-style: italic;
    margin-right: 11px;
}

#disqus-num-comments {
    margin-left: 11px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}


#post-tags {
    text-align: left;
    margin: 22px 0 15px 0;
    padding: 0 0 0 22px;
}

.post-tag {
    display: inline-block;
    margin-bottom: 4px;
    list-style: none;
}

.post-tag a {
    display: block;
    height: 22px;
    line-height: 20px;
    padding: 0 8px;

    border-radius: 2px;
    border: 1px solid #d1d1d1;
    background: #E4E4E4;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

.post-tag:hover {
    opacity: 0.7;
}

.post-divider {
    background: #ddd;
    margin: 0;
    height: 1px;
}


#post-assets {
    text-align: center;
    padding: 33px 0 11px 0;
    font-size: 16px;
}

.post-asset-container {
    display: inline-block;
    width: 49%;
    padding: 0 11px;
}

.post-asset {
    display: inline-block;
    width: 100%;
    max-width: 198px;
    height: 44px;
    line-height: 44px;
    border-radius: 3px;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.post-asset:hover {
    opacity: 0.8;
}

#post-demo {
    background: #5ec2d4;
}

#post-source {
    background: #58a0d4;
}


#post-content {
    font-size: 19px;
}

#post-content p a {
    color: #1EA8D4;
    text-decoration: none;
}

#post-content img {
    max-width: 100%;
    background-color: #E4E4E4;
    border: 1px solid #d1d1d1;
    padding: 6px;
}

#post-content blockquote {
    margin: 33px 0 22px 0;
    padding: 0 0 0 16px;
    border-left: 4px solid #5ec2d4;
    color: #333;
    font-style: italic;
    font-size: 19px;
}

#post-content iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 22px 0;
}

#post-content blockquote p {
    margin: 0;
}


#post-share {
    text-align: center;
    margin-top: 33px;
    margin-bottom: 44px;
}

#post-share-cta {
    margin-bottom: 11px;
    font-style: italic;
    font-size: 19px;
    color: #555;
}

.post-share-button {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0 6px;
}


/*  Footer  */

#footer {
    padding: 44px 22px 0 22px;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: left;
}

#footer-author {
    margin-bottom: 55px;
}

#footer-author-img {
    position: absolute;
    display: block;
    width: 126px;
    float: left;
    border: 3px solid #f7f7f7;
    border-radius: 50%;
}

#footer-author-words {
    min-width: 300px;
    font-size: 17px;
    padding-left: 143px;
}

#footer-author-name {
    font-size: 22px;
}

#footer-author-bio {
    margin-top: 11px;
}

#footer-author-socials {
    min-width: 300px;
    color: #ffffff;
    padding-left: 143px;
}

.footer-author-social {
    display: inline-block;
    min-width: 143px;
    padding: 6px;
    margin: 0 11px 11px 0;

    border-radius: 2px;
    background: #999;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
}

.footer-author-social:hover {
    opacity: 0.8;
}

.footer-author-social i {
    display: inline-block;
    width: 10px;
    margin-right: 10px;
}

#footer-related {
    margin: 44px 0 55px 0;
}

#footer-related h2 {
    margin-bottom: 11px;
}

.footer-related-post {
    margin: 11px 0;
    font-size: 18px;
}

.footer-related-post a {
    color: #000;
}

#disqus_thread {
    padding-top: 44px;
}


/*  Bottom  */

#bottom-band {
    position: relative;
    top: -58px;
    padding: 44px 0;
    z-index: 1;
    background-image: url(/imgs/banner/polygon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#bottom {
    max-width: 960px;
    width: 100%;
    padding: 22px;
    margin: 0 auto;
    background: #f7f7f7;
    opacity: 0.9;
}

.bottom-section {
    float: left;
    width: 49%;
    min-width: 352px;
}

.bottom-section h2 {
    margin: 0;
}

.bottom-section ul {
    margin: 11px 0 0 0;
    padding-right: 22px;
}

.bottom-section li {
    margin: 11px 0;
}

#bottom-recent a {
    color: #000;
}


#copyright-band {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 22px 0 17px 0;
    background: #EDEEEE;
    border-top: 1px solid #15232D;
    text-align: center;
    font-size: 18px;
}

#copyright-band a {
    color: #000;
}

/* clearfix rules */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}