<footer id="bottom-band" class="cf">
    <div id="bottom-recent" class="bottom-section">

        <h2 class="related-posts-title">Recent Posts</h2>

        <ul class="related-posts-list">

            {% for post in site.posts limit:5 %}

            <li class="related-post cf">
                <i class="fa fa-angle-right"></i>
                <a href="{{ post.url }}">
                    <span>{{ post.title }}</span>
                </a>
            </li>

            {% endfor %}

        </ul>

    </div>

    <div id="bottom-tags" class="bottom-section">

        <h2>Tags</h2>

        <ul id="bottom-tags-list">
            {% for tag in site.tags %}
            <li class="post-tag"><a href="/tags#{{ tag | first }}">{{ tag | first }}</a></li>
            {% endfor %}
        </ul>

    </div>
</footer>

<div id="copyright-band">

    <small id="copyright">Designed by <a href="http://likethemammal.com">Chris Dolphin</a></small>

</div>