<div class="member">

    <div class="member-author-avatar">
        <img class="member-author-img" src="{{ include.member.author-img }}"/>
    </div>

    <div class="member-author-words">
        <span class="member-author-name">{{ include.member.name }}</span>
        <p class="member-author-bio">{{ include.member.bio }}</p>
    </div>

    <div class="member-author-socials">

        {% if include.member.website %}
        <a href="{{ include.member.website }}" class="member-author-social">
            Website
        </a>
        {% endif %}

        {% if include.member.email %}
        <a href="{{ include.member.email }}" class="member-author-social">
            Email
        </a>
        {% endif %}

        {% if include.member.github %}
        <a href="http://github.com/{{ include.member.github }}" class="member-author-social">
            Github
        </a>
        {% endif %}

        {% if include.member.twitter %}
        <a href="http://twitter.com/{{ include.member.twitter }}" class="member-author-social">
            Twitter
        </a>
        {% endif %}

        {% if page.google-plus %}
        <a href="{{ include.member.google-plus }}" class="member-author-social">
            Google+
        </a>
        {% endif %}
    </div>

    <div class="member-related-posts">

        <h2 class="member-related-posts-title">Posts by this author</h2>

        <ul class="member-related-posts-list">

            {% assign sortedposts = site.posts | where: "username", include.member.github %}

            {% for post in sortedposts limit:5 %}

            <li class="member-related-post cf">
                <i class="fa fa-angle-right"></i>
                <a href="{{ post.url }}">
                    <span>{{ post.title }}</span>
                </a>
            </li>

            {% endfor %}

        </ul>

        <a class="member-related-posts-all-link" href="{{ include.member.github | prepend: '/tags#' | prepend: site.baseurl }}">See all posts by author</a>

    </div>

</div>