<div id="nav-band">
    <div id="nav">
        <a id="logo" href="/">
            <i class="fa fa-users"></i>
            Cryptic: chat
        </a>

        <nav id="desktop-nav">
            <a class="nav-item" href="/search" title="Search">Search</a>
            <a class="nav-item" href="/tags" title="Tags">Tags</a>
            <a class="nav-item" href="/members" title="Members">Members</a>
            <a class="nav-item" href="http://github.com/cryptic-io/cryptic-chat/" title="Github Repo">Github</a>
            <a class="nav-item" href="/" title="Blog">Blog</a>
        </nav>

        <input id="mobile-nav-open" class="mobile-nav-toggle" type="text" readonly>
        <input id="mobile-nav-close" class="mobile-nav-toggle" type="text" readonly>

        <nav id="mobile-nav">
            <a class="nav-item" href="/" title="Blog">Blog</a>
            <a class="nav-item" href="http://github.com/cryptic-io/cryptic-chat/" title="Github Repo">Github</a>
            <a class="nav-item" href="/members" title="Members">Members</a>
            <a class="nav-item" href="/tags" title="Tags">Tags</a>
            <a class="nav-item" href="/search" title="Search">Search</a>
        </nav>

    </div>
</div>
