<div id="nav-band">
    <div id="nav">
        <a id="logo" href="/">
            <i class="fa fa-users"></i>
            Cryptic: chat
        </a>

        <nav id="desktop-nav">
            <a class="nav-item" href="/tags">Tags</a>
            <a class="nav-item" href="/members">Members</a>
            <a class="nav-item" href="/about">About</a>
            <a class="nav-item" href="/">Blog</a>
        </nav>

        <input id="mobile-nav-open" class="mobile-nav-toggle" type="text" readonly>
        <input id="mobile-nav-close" class="mobile-nav-toggle" type="text" readonly>

        <nav id="mobile-nav">
            <a class="nav-item" href="/">Blog</a>
            <a class="nav-item" href="/about">About</a>
            <a class="nav-item" href="/members">Members</a>
            <a class="nav-item" href="/tags">Tags</a>
        </nav>

    </div>
</div>