---
layout: page
title: About
elementID: about
---

{% assign sliders = site.data.sliders %}
{% assign slider1 = sliders[0] %}
{% assign slider2 = sliders[1] %}
{% assign slider3 = sliders[2] %}

<h2 class="page-header">About</h2>

<p>We are a group of developers involved in the tech industry that have worked, played, laughed, grown, and discovered together. We each push the bounds of the technology we work with in our own way and want there to be a permanent place we can share the things we've learned. That is the purpose of <span style="font-weight: bold;">Cryptic:chat</span></p>

<h3 class="page-sub-header page-header">Who we are</h3>

<p>We all have wildly varying interests. From rock-climbing to wood-working, longboarding to anime, and toking to networking, we each pursue our hobbies with a passion. We're all programmers but not one of us focuses on exactly the same thing. Of course there is a great amount of overlap but each person brings a unique way of problem solving to the table. To give you an idea, combined, the languages we know are Go, Javascript, Clojure, PHP, Java, CSS, C++, Pascal, Ruby, and many others.</p>

{% include css-slider.html images=slider1 %}

<p>While working at companies that include Google, Grooveshark, Plex, and Prismatic we've been given significant expertise in our fields, allowing us to translate that knowledge to personal projects, hackathons, and contributions to major community projects.</p>

<h3 class="page-sub-header page-header">What is Cryptic:chat</h3>

{% include css-slider.html images=slider2 %}

<p>The name "Cryptic:chat" comes from a group chat that we've been a part Of the articles on this blog a majority will be development related. That being said, you won't find any categories that define how posts will be grouped. The goal is to allow for a broad range of topics such as craft projects, design, general musings, serious artwork, and life-hacks.</p>

{% include css-slider.html images=slider3 %}