---
layout: page
title: About
elementID: about
---

{% assign sliders = site.data.sliders %}
{% assign slider1 = sliders[0] %}
{% assign slider2 = sliders[1] %}
{% assign slider3 = sliders[2] %}

<h2 class="page-header">About</h2>

<p>We are a group of developers involved in the tech industry that work, laugh, discover, and grow together. We encourage each other to push the boundaries of the technology we work with everyday. To help reach our personal goals we collaborating often and want others to share in this experience. That is the purpose of <span style="font-weight: bold;">Cryptic:chat</span>.</p>

<h3 class="page-sub-header page-header">Who we are</h3>

<p>Our interests vary as much as the distance between us. Some are rock-climbers or wood-workers, longboarders and anime enthusiasts, even tokers and networkers. We each pursue our hobbies with passion. Though, we all may program, none of us have the exact same focus.</p>

{% include css-slider.html images=slider1 %}

<p>Of course there is a great amount of overlap but each person brings a unique perspective to the table. To give you an idea, some of the languages we explore are Go, Javascript, Clojure, PHP, Java, CSS, C++, Haskell, Ruby, and many more.</p>

<p>Working at companies such as Google, Grooveshark, CloudFlare, Plex, and Prismatic we've earned expertise in our fields. Allowing us to translate that knowledge into our personal projects, hackathons, tech talks, and contributions to major community projects.</p>

<h3 class="page-sub-header page-header">What is Cryptic:chat</h3>

<p>The name "Cryptic:chat" comes from a Google Hangouts chat we've all been part of for some time now. Cryptic was originally a service put together by a few of us that allowed for truly secure file-sharing. The group chat created around that concept quickly devolved into a communal place to drop tech news and our own obscure findings. Due to the need for a more permanent reference, this blog was created. With that in mind, obviously the majority of articles here will be about tech development.</p>

{% include css-slider.html images=slider2 %}

<p>However, you won't find any categories that define how posts will be organized. The goal is to allow for a broad range of topics such as crafts, design, general musings, serious artwork, and life-hacks.</p>


<h3 class="page-sub-header page-header">How things work</h3>

<p>Along with the lack of categories is a lack of editors. Each post need only be reviewed by any 3 other past authors. This loose structure was setup to avoid bottlenecks in the authoring process and encourage posting by as many people as possible. The code for the blog is open-source and managed through pull requests to maintain transparency.</p>

{% include css-slider.html images=slider3 %}

<p>To find more info on how this group blog works you can read through the documentation here.</p>

