/*  General  */

#bottom-band {
    max-width: 770px;
    width: 100%;
    padding: 0 11px;
    margin: 0 auto 22px auto;
}

.bottom-section {
    width: 100%;
    max-width: 363px;
    margin-bottom: 11px;
    float: left;
}

.bottom-section:first-child {
    margin-right: 22px;
}

.bottom-section h2 {
    margin: 0;
}

.bottom-section ul {
    margin: 15px 0 0 0;
}

.bottom-section li {
    margin: 11px 0;
}


/*  Tags  */

.home #bottom-tags {
    max-width: none;
}

#bottom-tags-list .post-tag {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    padding-right: 5px;
    list-style: none;
}

#bottom-tags-list .post-tag a {
    color: #000;
    text-decoration: none;
}

#bottom-tags-list .post-tag a:hover {
    text-decoration: underline;
}

#bottom-tags-list .post-tag a span {
    padding-left: 2px;
    font-weight: normal;
    letter-spacing: 1px;
}


/*  Recent Posts  */

.recent-post {
    position: relative;
    list-style: none;
    margin-bottom: 11px;
}

.recent-post-author-avatar {
    position: absolute;
    top: 0;
    width: 36px;
    height: 36px;
    z-index: 1;
}

.recent-post-author-avatar:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid white;
    top: 0;
    right: 0;
    z-index: 1;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.recent-post-author-avatar a {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.recent-post-author-img {
    width: 100%;
}

.recent-post-words {
    position: relative;
    padding: 9px 11px;
    margin-left: 36px;
    font-size: 14px;
    background: #ffffff;
    {{ page.boxShadow }}
}

.recent-post-words:hover {
    background: {{ page.paleGreen }};
}

.recent-post-words:hover + .recent-post-author-avatar:before {
    border-right-color: {{ page.paleGreen }};
    border-top-color: {{ page.paleGreen }};
}

.recent-post-title {
    margin-bottom: 8px;
}

.recent-post-title-text {
    position: relative;
    display: inline;
    line-height: 20px;
    margin: 0;
    z-index: 1;
    font-weight: normal;
}

.recent-post-title-text a {
    color: #000;
    text-decoration: none;
}

.recent-post-title-text a:hover, .recent-post-author-name:hover {
    text-decoration: underline;
}

.recent-post-title-text-link {
    padding-right: 5px;
}

.recent-post-authoring-info {
    position: relative;
    color: {{ page.grayDarkHover }};
    z-index: 1;
}

.recent-post-author-name {
    color: inherit;
    text-decoration: none;
}

.recent-post-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*  Copyright  */

#copyright-band {
    padding: 22px 0;
    color: {{ page.darkGray }};;
    background: #fff;
    border-top: 1px solid {{ page.gray }};
    text-align: center;
    font-size: 18px;
}

#copyright-band a {
    color: {{ page.darkGray }};;
}

@media only screen and (max-width: 785px) {
    .bottom-section {
        max-width: none;
    }

    .recent-post-words {
        display: inline-block;
        max-width: 420px;
    }
}