/* Colors */

/*
    lightblue: #8EC0ED;
    blue: #5CB1CF;
    darkblue: #4B88BC;

    lightgreen: #29D180
    green #28ad60
    darkgreen #26934C

    lightgray: #B4B6B4
    gray: #828884
*/

/* Padding/Margin Factor: 11px */

body {
    position: relative;
    margin: 0;
    font-family: 'Open Sans';
    background: #EDEEEE;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

p {
    margin: 22px 0;
}

ul {
    padding-left: 0;
}
/*a {*/
    /*color: #8EC0ED;*/
/*}*/

/*a:hover {*/
    /*color: #579FDA;*/
/*}*/

/*::selection { background: #579FDA; }*/
/*::-moz-selection { background: #579FDA; }*/

/*  Main  */

#main {
    position: relative;
    top: -58px;
    left: 0;
    right: 0;
    padding-bottom: 66px;
    background: #EDEEEE;
}

/*  Tags  */

.post-tag {
    display: inline-block;
    margin-bottom: 4px;
    list-style: none;
}

.post-tag a {
    display: block;
    height: 22px;
    line-height: 20px;
    padding: 0 8px;

    border-radius: 2px;
    border: 1px solid #d1d1d1;
    background: #E4E4E4;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

.post-tag:hover {
    opacity: 0.7;
}


/*  Pagination  */

.pagination ul {
    width: 100%;
    margin: 21px 0 35px 0;
    text-align: center;
}

.pagination li {
    display: inline;
}

.pagination li a {
    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    padding: 0 7px;

    color: #2B2B2B;
    border-radius: 50%;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.pagination li a:hover,
.pagination li a.selected {
    background: #2B2B2B;
    color: #ffffff;
}



/* clearfix rules */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}