/* Colors */

/*
    lightblue: #8EC0ED;
    blue: #5CB1CF;
    darkblue: #4B88BC;

    lightgreen: #29D180
    green #28ad60
    darkgreen #26934C

    lightgray: #B4B6B4
    gray: #828884
*/

/* Padding/Margin Factor: 11px */

body {
    position: relative;
    margin: 0;
    font-family: 'Helvetica';
    background: #EDEEEE;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

p {
    margin: 22px 0;
}

ul {
    padding-left: 0;
}
/*a {*/
    /*color: #8EC0ED;*/
/*}*/

/*a:hover {*/
    /*color: #579FDA;*/
/*}*/

/*::selection { background: #579FDA; }*/
/*::-moz-selection { background: #579FDA; }*/

/*  Main  */

#main {
    padding-bottom: 66px;
}


/*  Tags  */

.post-tag {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.post-tag:hover {
    text-decoration: underline;
}


/*  Posts List  */

.related-posts-title {
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 0;
}

.related-posts-list {
    margin: 11px 0 22px 0;
}

.related-post {
    list-style: none;
    margin: 0;
    font-size: 18px;
    text-align: left;
    padding: 11px;
}

.related-post:hover {
    background: rgba(0,0,0,0.05);
}

.related-post a {
    display: block;
    color: #000;
    text-decoration: none;
    padding-right: 20px;
}

.related-post i {
    display: block;
    float: right;
    padding: 2px 11px 0 11px;
}

.related-posts-all {
    text-decoration: none;
    color: #427FED;
}


/*  Pagination  */

.pagination ul {
    width: 100%;
    margin: 21px 0 35px 0;
    text-align: center;
}

.pagination li {
    display: inline;
}

.pagination li a {
    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    padding: 0 7px;

    color: #2B2B2B;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.pagination li a:hover,
.pagination li a.selected {
    border-bottom: 3px solid #2B2B2B;
}



/* clearfix rules */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}