/*

Guides:
    Padding/Margin Factor: 11px

*/


/*  General  */

body {
    position: relative;
    margin: 0;
    font-family: 'Helvetica', 'Open Sans', 'Arial';
    background: {{ page.grayLightHover }};
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

p {
    margin: 22px 0;
}

ul {
    padding-left: 0;
}

/* clearfix rules */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/*  Main  */

#main {
    padding-bottom: 33px;
}


/*  Tags  */

.post-tag {
    color: inherit;
    font-weight: bold;
    padding-right: 5px;
    text-decoration: none;
}

.post-tag:hover {
    text-decoration: underline;
}


/*  Pagination  */

.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 11px 0 22px 0;
}

.pagination .page-number {
    display: block;
    float: left;
}

.pagination .page-number a {
    display: inline-block;
    line-height: 29px;
    width: 30px;
    height: 30px;

    color: {{ page.lightBlack }};
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid {{ page.grayDarkHover }};
    border-bottom: 1px solid {{ page.grayDarkHover }};
}

.pagination .page-number a:hover,
.pagination .page-number a.selected {
    background: {{ page.grayDarkHover }};
}

.pagination .page-number:first-child a {
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border-left: 1px solid {{ page.grayDarkHover }};
}

.pagination .page-number:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid {{ page.grayDarkHover }};
}