/* Avatar List */

#avatars-list {
    margin-bottom: 11px;
}

.avatars-list-item {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    list-style: none;
    margin: 0 5px 5px 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.avatars-list-item:last-child {
    margin-right: 0;
}

.avatar-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0.5;
    -webkit-transition: opacity 100ms linear;
    border-radius: inherit;
}

.avatar-link:hover {
    opacity: 0;
}

.avatar-img {
    width: 100%;
}


/* Member List */

.members-list-item {
    margin-bottom: 22px;
    list-style: none;
}

.members-list-item:last-child {
    margin-bottom: 0;
}