.member {
    color: #000;
    border: 1px solid #D8D8D8;
    background: #ffffff;
    {{ page.boxShadow }}
}


/*  Header  */

.member-header {
    padding: 22px 22px 11px 22px;
    border-bottom: 1px solid #D8D8D8;
}

.member-author-avatar {
    position: absolute;
    display: block;
    width: 115px;
    margin-bottom: 11px;
    float: left;
}

.member-author-avatar:before {
    content: " ";
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #37ab1a;
}

.member-author-img {
    width: 100%;
    border-radius: 50%;
}

.member-author-words {
    min-width: 300px;
    margin-top: 1px;
    margin-bottom: 22px;
    padding-left: 131px;
    font-size: 17px;
}

.member-author-name {
    font-size: 22px;
}

.member-author-username {
    line-height: 29px;
    float: right;
    font-size: 16px;
    color: #c5c5c5;
}

.member-author-bio {
    margin: 11px 0;
}

.member-author-companies {
    color: #ABABAB;
}

.company-link {
    padding: 0 0 0 5px;
    color: inherit;
    text-decoration: none;
}

.company-link:hover {
    text-decoration: underline;
}

.member-author-socials {
    min-width: 300px;
    color: #ffffff;
    padding-left: 131px;
}

.member-author-social {
    display: inline-block;
    min-width: 124px;
    margin: 0 11px 11px 0;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    color: #3A3D3D;
    background: #fff;
    border: 1px solid #D8D8D8;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    {{ page.buttonShadow }}
}

.member-author-social:hover {
    opacity: 0.8;
    border-bottom: 3px solid rgba(0,0,0,0.04);
}

.member-author-social i {
    display: inline-block;
    width: 10px;
    margin-right: 10px;
}


/*  Related Posts List  */

.member-related-posts {
    padding: 22px 0;
    font-size: 16px;
}

.member-related-posts-title {
    padding: 0 11px;
}

.member-related-posts-title-text {
    margin: 0;
    padding: 0 0 11px 0;
    font-size: inherit;
    border-bottom: 1px solid #e7e7e7;
}

.member-related-posts-list {
    margin: 11px 0 0 0;
}

.member-related-post {
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 11px;
}

.member-related-post:hover {
    background: #f8f8f8;
}

.member-related-post a {
    display: block;
    line-height: 20px;
    padding-right: 20px;
    color: inherit;
    text-decoration: none;
}

.member-related-post i {
    display: block;
    float: right;
    padding: 2px 0 0 11px;
}

.member-related-posts-all-link {
    margin-left: 11px;
    font-size: 12px;
    text-decoration: none;
    color: #c5c5c5;
}

.member-related-posts-all-link:hover {
    text-decoration: underline;
}