/*  Page  */

.page {
    padding: 44px 11px 0 11px;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
}

.page-list {
    margin: 0;
}

.page-header {
    margin: 0 auto 22px auto;
    padding: 0 0 11px 11px;
    border-bottom: 1px solid {{ page.grayDarkHover }};
    font-size: 16px;
}