/*  General  */

.posts-post {
    position: relative;
    list-style: none;
    margin-bottom: 11px;
}

.posts-right {
    text-align: right;
}


/*  Message  */

.posts-post-words {
    position: relative;
    display: inline-block;
    max-width: 360px;
    padding: 11px;

    text-align: left;
    background: #fff;
    {{ page.boxShadow }}
}

.posts-left .posts-post-words {
    margin-left: 50px;
    margin-right: auto;
}

.posts-right .posts-post-words {
    margin-left: auto;
    margin-right: 50px;
}

.posts-post-title {
    margin-bottom: 8px;
}

.posts-post-title-text {
    position: relative;
    display: inline;
    line-height: 25px;
    margin: 0;
    z-index: 1;
    font-size: 18px;
    font-weight: normal;
}

.posts-post-title-text a {
    color: #000;
    text-decoration: none;
}

.posts-post-title-text a:hover, .posts-post-author-name:hover {
    text-decoration: underline;
}

.posts-post-tags-list {
    padding: 8px 0 6px 50px;
}

.posts-post-authoring-info {
    position: relative;
    margin: 0;
    color: #C5C5C5;
    z-index: 1;
}

.posts-post-author-name {
    color: inherit;
    text-decoration: none;
}

.posts-post-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/*  Avatar  */

.posts-post-author-avatar {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
}

.posts-post-author-avatar:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid white;
    z-index: 1;
}

.posts-left .posts-post-author-avatar {
    position: absolute;
    top: 0;
}

.posts-right .posts-post-author-avatar {
    bottom: 50px;
    right: 0;
    height: 0;
}

.posts-left .posts-post-author-avatar:before {
    top: 0;
    right: 0;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.posts-right .posts-post-author-avatar:before {
    bottom: -50px;
    left: 0;
    border-right-color: transparent;
    border-top-color: transparent;
}

.posts-post-author-avatar a {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.posts-post-author-img {
    width: 100%;
}