/*  Search  */

#search-input-container {
  position: relative;
}

#search-input-container i {
  position: absolute;
  padding: 20px 0 0 11px;
  color: {{ page.grayDarkHover }};
}

#search-input {
  height: 55px;
  width: 100%;
  padding-left: 33px;
  font-size: 20px;
}

#results {
  min-height: 99px;
  margin-top: 11px;
}

#results a {
  display: block;
  padding: 11px;
  font-size: 20px;
}

#results a:hover {
  background: {{ page.gray }};
}

.empty-results {
  padding: 11px 0;
  font-size: 20px;
  color: {{ page.grayDarkHover }};
}

#results a {
  color: #000;
  text-decoration: none;
}

#results a:hover {
  text-decoration: underline;
}
