#tags .list-header {
    margin: 0 auto 22px auto;
    font-size: 24px;
}

#tags .list {
    padding-left: 22px;
}

#tags .tag-title {
    margin: 11px 0 22px 0;
    font-size: 20px;
}

#tags .tag {
    list-style: none;
    margin-bottom: 33px;
}

#tags .post {
    padding: 0 0 22px 11px;
    list-style: none;
}

#tags .post-list {
    padding-left: 11px;
}

#tags .post-left {
    display: inline-block;
    float: left;
    width: 102px;
}

#tags .post-right {
    display: inline-block;
    float: left;
    width: 85%;
}

#tags .post-date {
    font-weight: bold;
    line-height: 28px;
}

#tags .post-title {
    display: block;
    font-size: 19px;
    color: #000;
    text-decoration: none;
}

#tags .post-title:hover {
    text-decoration: underline;
}

#tags .post-author {
    font-style: italic;
    opacity: 0.9;
}

#tags .post-author a {
    color: #D008AA;
    text-decoration: none;
}

#tags .post-author a:hover {
    text-decoration: underline;
}

#tags .post-tags-list {
    margin: 3px 0 0 0;
    padding: 0;
}
