#tags .list-header {
    margin: 0 auto 22px auto;
    padding: 0 0 11px 11px;
    border-bottom: 1px solid #C5C5C5;
    font-size: 16px;
}

#tags .list {
    margin-bottom: 44px;
}

#tags .list:last-child {
    margin-bottom: 0;
}

#tags .tag-title {
    margin: 4px 0 16px 0;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
}

#tags .tag {
    list-style: none;
    margin-bottom: 22px;
    padding: 11px;
    background: #ffffff;
    border-radius: 1px;
    {{ page.boxShadow }}
}

#tags .tag:last-child {
    margin-bottom: 0;
}

#tags .post-list {
    padding: 0 11px;
}

#tags .post {
    padding-bottom: 22px;
    list-style: none;
}

#tags .post-gutter {
    display: inline-block;
    float: left;
    width: 102px;
}

#tags .post-main {
    display: inline-block;
    float: left;
    width: 85%;
    line-height: 22px;
}

#tags .post-date {
    font-weight: bold;
    line-height: 28px;
}

#tags .post-title {
    margin-right: 4px;
    font-size: 19px;
    color: #000;
    text-decoration: none;
}

#tags .post-title:hover {
    text-decoration: underline;
}

#tags .post-author {
    display: block;
    padding: 4px 0 0 0;
    font-style: italic;
    opacity: 0.9;
}

#tags .post-author a {
    color: inherit;
    text-decoration: none;
}

#tags .post-author a:hover {
    text-decoration: underline;
}


/*  Posts by Author  */

#tags .post-author-avatar {
    display: inline-block;
    margin: 9px 0 14px 0;
    border-radius: 16px;
    background: #EDEEEE;
}

#tags .post-author-avatar-img {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    float: left;
}

#tags .post-author-name {
    height: 33px;
    line-height: 34px;
    margin: 0 8px;
    float: left;
    font-size: 13px;
    font-weight: normal;
    color: #000;
}

#tags .post-tags-list {
    display: inline;
    margin: 3px 0 0 0;
    padding: 0;
}

#tags .post-tag {
    display: inline-block;
    padding-right: 1px;
}

#tags .post-tag a {
    text-decoration: none;
    color: inherit;
}