---
layout: page
title: "Members of Cryptic:chat"
elementID: members
---

<h2 class="page-header">Members</h2>

{% assign sorted_members = (site.data.members | sort: 'name') %}

<ul id="avatars-list" class="page-list">

    {% for member in sorted_members %}

    <li class="avatars-list-item">

        <a href="#{{ member.github }}" class="avatar-link" title="{{ member.github }}"></a>
        <img class="avatar-img" src="{{ member.author-img }}" alt="{{ member.github }} Avatar Image" title="{{ member.github }}"/>

    </li>

    {% endfor %}

</ul>

<ul id="members-list" class="page-list">

    {% for member in sorted_members %}

        <li id="{{ member.github }}" class="members-list-item">

            {% include member.html member=member %}

        </li>

    {% endfor %}

</ul>
