---
layout: page
header: Authors
subheader: The list of authors and their bios
elementID: members
---

<ul id="avatars-list" class="page-list">

    {% for member in site.data.members %}


    <li class="avatars-list-item">

        <a href="#{{ member.github }}" class="avatar-link"></a>
        <img class="avatar-img" src="{{ member.author-img }}"/>

    </li>

    {% endfor %}

</ul>

<ul id="members-list" class="page-list">

    {% for member in site.data.members %}


        <li id="{{ member.github }}" class="members-list-item">

            {% include member.html member=member %}

        </li>

    {% endfor %}

</ul>
