<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.url != "/index.html" %}

  <body>

  {% else %}

  <body class="home">

  {% endif %}

    {% include nav.html %}

    <div id="main">

        {{ content }}

    </div>

    {% include bottom.html %}

  </body>

  {% if page.id %}

    {% include disqus.html %}

  {% endif %}

  <script>
    console.log(' \
           ▄▄▀▀▀▀▀▀▀▀▀▄▄             \n \
████▄   ▄█▀             ▀▀▄   ▄▄███▀ \n \
   ▀████▌                  ████▀▀    \n \
      █▀███▄▄          ▄████▀▌       \n \
     █    ▀▀███▄▄▄▄▄████▀    █       \n \
     █        ▀██████▀       ▐▌      \n \
     █         ▀███▀         ▐       \n \
     ▐▌         ▐██          █       \n \
      ▐█        ▐██        ▄█        \n \
        ▀▄      ▐██       █▀         \n \
          ▀▀▄▄  ▐██   ▄▄▀            \n \
              ▀▀▐██▀▀                \n \
                ▐██                  \n \
                ▐██                  \n \
                ▐██                  \
');
  </script>
</html>
