---
layout: default
---

{% for member in site.data.members %}

{% if member.github == page.username %}

    <div id="post">

        <header id="post-header">

            <h1 id="post-title">{{ page.title }}</h1>

            <div id="post-authoring-info" class="cf">
                <img id="post-author-img" src="{{ member.author-img }}"/>
                <div id="post-author-words">
                    <span id="post-author-name">{{ member.name }}</span>
                    <span id="post-date-and-comments"><span id="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>•<a id="disqus-num-comments" href="#disqus_thread">0 comments</a></span>
                </div>
            </div>

            <ul id="post-tags">
                {% for tag in page.tags %}
                    <li class="post-tag"><a href="{{ tag | prepend: '/tags/' | prepend: site.baseurl }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>

        </header>

        <div class="post-divider"></div>

        <article id="post-content">

            <div id="post-assets">

                {% if page.demo %}
                    <div class="post-asset-container">
                        <a id="post-demo" class="post-asset" href="{{ page.demo }}">Demo</a>
                    </div>
                {% endif %}

                {% if page.source %}
                    <div class="post-asset-container">
                        <a id="post-source" class="post-asset" href="{{ page.source }}">Source</a>
                    </div>
                {% endif %}

            </div>

            {{ content }}

        </article>

        <div id="post-share">
            <p id="post-share-cta">Did you like this article? Share it!</p>
            <div id="post-share-buttons">
                <img id="post-share-twitter" class="post-share-button" src="/imgs/social/twitter.svg" />
                <img id="post-share-facebook" class="post-share-button" src="/imgs/social/facebook.svg" />
                <img id="post-share-google" class="post-share-button" src="/imgs/social/google.svg" />
            </div>
        </div>

        <div class="post-divider"></div>


    </div>

    <footer id="footer">

        <div id="footer-member" class="cf">

            {% include member.html member=member %}

        </div>

        <div id="disqus_thread"></div>

    </footer>

{% endif %}

{% endfor %}
