---
layout: default
---

{% for member in site.data.members %}

{% if member.github == page.username %}

    <div id="post">

        <header id="post-header" class="cf">

            <a href="#author" title="Author">
                <div id="post-author-avatar">
                    <img id="post-author-img-bg" src="{{ member.author-img }}" alt="{{ member.name }} background" title="{{ member.name }} background"/>
                    <img id="post-author-img" src="{{ member.author-img }}" alt="{{ member.name }} Avatar Image" title="{{ member.name }}"/>
                </div>
            </a>

            <div id="post-header-words">

                <h1 id="post-title">
                    {{ page.title }}

                    {% for tag in page.tags %}
                        <a class="post-tag" href="{{ tag | prepend: '/tags#' | prepend: site.baseurl }}" title="{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </h1>

                <div id="post-metadata">
                    <span id="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
                    •
                    <a id="disqus-num-comments" href="#disqus_thread" title="To the comments">0 comments</a>
                </div>

            </div>

        </header>

        <div id="post-assets">

            {% if page.demo %}
            <div class="post-asset-container">
                <a id="post-demo" class="post-asset" href="{{ page.demo }}" title="Demo">Demo</a>
            </div>
            {% endif %}

            {% if page.source %}
            <div class="post-asset-container">
                <a id="post-source" class="post-asset" href="{{ page.source }}" title="Source">Source</a>
            </div>
            {% endif %}

        </div>

        {% if page.crosspost %}
          <div class="post-crosspost-container">
            This was cross-posted on <a href="{{ page.crosspost }}">{{page.crosspost}}</a>
          </div>
        {% endif %}

        <article id="post-content">

            {{ content }}

        </article>

        <div id="post-share">
            <p id="post-share-cta">Did you like this article? Share it!</p>
            <div id="post-share-buttons">
                <a target="_blank" href="https://twitter.com/home?status={{ page.title }} {{ page.url | prepend: site.url }}" title="Share on Twitter">
                    <svg id="post-share-twitter" class="post-share-button">
                        <use xlink:href="/imgs/svg.svg#svg-twitter" x="0" y="0" width="100%" height="100%"></use>
                    </svg>
                </a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" title="Share on Facebook">
                    <svg id="post-share-facebook" class="post-share-button">
                        <use xlink:href="/imgs/svg.svg#svg-facebook" x="0" y="0" width="100%" height="100%"></use>
                    </svg>
                </a>
                <a target="_blank" href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" title="Share on Google">
                    <svg id="post-share-google" class="post-share-button">
                        <use xlink:href="/imgs/svg.svg#svg-google" x="0" y="0" width="100%" height="100%"></use>
                    </svg>
                </a>
            </div>
        </div>

    </div>

    <footer id="footer">

        <h2 class="page-sub-header">Author</h2>

        <div id="author">

            {% include member.html member=member %}

        </div>

        <h2 class="page-sub-header">Comments</h2>

        <div id="disqus_thread"></div>

    </footer>

{% endif %}

{% endfor %}
